#index-rzlts::-webkit-scrollbar {
    -webkit-appearance: none;
}

#index-rzlts::-webkit-scrollbar:vertical {
    width: 11px;
}

#index-rzlts::-webkit-scrollbar:horizontal {
    height: 11px;
}

#index-rzlts::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

a:hover{
    text-decoration: underline;
}