extends ../layout

block head
    //if IE
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(charset='utf-8')
    title rezalet sözlük - somut, kanıtlı rezaletler

    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='theme-color' content='#ffffff')

    link(title='rezalet sözlük' rel='search' type='application/opensearchdescription+xml' href='/odesc.xml')

    // Main css
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic,600&subset=latin,latin-ext')
    link(href='public/css/rzlt.style.css' rel='stylesheet' type='text/css')
    link(href='public/css/bulma.css' rel='stylesheet' type='text/css')
    link(href='public/css/bulma.min.css' rel='stylesheet' type='text/css')
    link(href='public/css/bulma.css.map' rel='stylesheet' type='text/css')
    link(href='public/css/all.min.css' rel='stylesheet' type='text/css')

    // jQuery
    script(src='public/js/jQuery.min.js' type='text/javascript')

    //icon
    link(rel='apple-touch-icon' sizes='120x120' href='public/img/ico/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='public/img/ico/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='public/img/ico/favicon-16x16.png')
    link(rel='manifest' href='public/img/ico/site.webmanifest')
    link(rel='mask-icon' href='public/img/ico/safari-pinned-tab.svg' color='#5bbad5')

    // Facebook
    meta(property='fb:app_id' content='')
    meta(property='og:site_name' content='rezalet sözlük')
    meta(property='og:locale' content='tr_TR')
    meta(property='og:type' content='article')

    // FacebookLogo
    meta(property='og:image' content='facebooklogo')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon' type='image/png' href='32x32favicon' sizes='32x32')
    link(rel='icon' type='image/png' href='16x16favicon' sizes='16x16')
    link(rel='manifest' href='/manifest.json')
    link(rel='mask-icon' href='safari-pinned-tab.svg' color='#81C14B')
    meta(name='apple-mobile-web-app-title' content='rezalet sözlük')
    meta(name='application-name' content='rezalet sözlük')

    // Alexa
    meta(name='alexaVerifyID' content='')

    // GlobalSignDomainVerification
    meta(name='globalsign-domain-verification' content='')
    meta(name='homepage' content='True')
    meta(name='user-rank' content='0')
    meta(name='is-user-country-tr' content='1')


    // ScriptTanımlamaları
    script(src='public/js/fontawesome.min.js' type='text/javascript')
    script(src='public/js/main.js', type='text/javascript')