extends ../layout

block body
    script.
        var data = !{data};

    header(style="border-top: 4px solid #00d1b2;background-color: #fff;position: fixed;width: 100%;top: 0;z-index: 14;")
        div.container
            nav#navbar.navbar.is-transparent(role='navigation' aria-label='main navigation')
                .navbar-brand
                    a.navbar-item(href='/')
                        img(src='public/img/logov2_min.png' width='74' height='79')
                    a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
                        span(aria-hidden='true')
                        span(aria-hidden='true')
                        span(aria-hidden='true')
                #navbarContainer.navbar-menu
                    // SEARCH FIELD
                    .navbar-item
                    .navbar-item
                        .control.has-icons-left
                            input.input.is-small.is-primary(type='email' placeholder='rezalet, @yazar, #konu')
                            span.icon.is-small.is-left
                                i.fa.fa-search
                    // USER RELATED LINKS
                    .navbar-end
                        .navbar-item.is-hoverable
                            .buttons
                                a.button.is-primary.uyelik
                                    strong Üyelik
                                a.button.is-light.giris
                                    | Giriş

    section#lowheader(style="min-height: 56px;font-size: 14px;border-bottom: 1px solid #b0bec5;position: fixed;top: 56px;width: 100%;z-index: 14;background-color: white;padding-top: 22px;")
        .container(style="padding-left:10px;padding-right:20px;")
            .columns
                .column
                    a(style="color:black" href="/?keyword=enson") en son
                .column
                    a(style="color:black" href="/ara?keyword=#rzlt2") gıda
                .column
                    a(style="color:black" href="/ara?keyword=#rzlt3") perakende
                .column
                    a(style="color:black" href="/ara?keyword=#rzlt1") hizmet
                .column
                    a(style="color:black" href="/ara?keyword=#rzlt2") teknoloji
                .column
                    a(style="color:black" href="/ara?keyword=#rzlt3") telekom
                .column
                    a(style="color:black" href="/ara?keyword=#rzlt3") diğer


    section#content(style="margin-top: 40px;position: relative;top: 125px;")
        .container
            .columns
                .column.is-2
                    #index-rzlts(style='overflow-y: scroll;padding-right: 20px;max-height: 87%;display: block;position: fixed;width: 18%;max-width:227px;')
                        .h2(style='text-align:left;padding-left:9px;font-size: 20px;font-weight: 600;letter-spacing: 0.2px;') En Son
                        #sol-baslik-alani(style="padding-left: 10px;padding-top: 25px;")
                            aside.menu

                .column.is-7
                    #entry-alani(style='margin-top: 17px;margin-left: 14px;')
                    #footer(style='border-top: 1px solid #b0bec5;padding: 10px 0;margin-top: 10px;')
                        ul(style="display:flex;width:100%;")
                            li(style="display: inline-block;text-align: left;width: auto;flex-grow: 1;padding: 0 5px;white-space: nowrap;font-size:10px;")
                                a(href='', style="color: #333;text-decoration: none;cursor: pointer;-ms-touch-action: manipulation;touch-action: manipulation;letter-spacing: 0.7px;") ileti&scedil;im
                            li(style="display: inline-block;text-align: left;width: auto;flex-grow: 1;padding: 0 5px;white-space: nowrap;font-size:10px;")
                                a(href='', style="color: #333;text-decoration: none;cursor: pointer;-ms-touch-action: manipulation;touch-action: manipulation;letter-spacing: 0.7px;") reklam
                            li(style="display: inline-block;text-align: left;width: auto;flex-grow: 1;padding: 0 5px;white-space: nowrap;font-size:10px;")
                                a(href='', style="color: #333;text-decoration: none;cursor: pointer;-ms-touch-action: manipulation;touch-action: manipulation;letter-spacing: 0.7px;") kariyer
                            li(style="display: inline-block;text-align: left;width: auto;flex-grow: 1;padding: 0 5px;white-space: nowrap;font-size:10px;")
                                a(href='', style="color: #333;text-decoration: none;cursor: pointer;-ms-touch-action: manipulation;touch-action: manipulation;letter-spacing: 0.7px;") kullan&imath;m ko&scedil;ullar&imath;
                            li(style="display: inline-block;text-align: left;width: auto;flex-grow: 1;padding: 0 5px;white-space: nowrap;font-size:10px;")
                                a(href='', style="color: #333;text-decoration: none;cursor: pointer;-ms-touch-action: manipulation;touch-action: manipulation;letter-spacing: 0.7px;") gizlilik politikam&imath;z
                            li(style="display: inline-block;text-align: left;width: auto;flex-grow: 1;padding: 0 5px;white-space: nowrap;font-size:10px;")
                                a(href='' rel='help', style="color: #333;text-decoration: none;cursor: pointer;-ms-touch-action: manipulation;touch-action: manipulation;letter-spacing: 0.7px;") sss
                            li(style="display: inline-block;text-align: left;width: auto;flex-grow: 1;padding: 0 5px;white-space: nowrap;font-size:10px;")
                                a.index-link(href='', style="color: #333;text-decoration: none;cursor: pointer;-ms-touch-action: manipulation;touch-action: manipulation;letter-spacing: 0.7px;") istatistikler
                            li(style="display: inline-block;text-align: left;width: auto;flex-grow: 1;padding: 0 5px;white-space: nowrap;font-size:10px;")
                                a(href='', style="color: #333;text-decoration: none;cursor: pointer;-ms-touch-action: manipulation;touch-action: manipulation;letter-spacing: 0.7px;") sub-etha
                            li(style="display: inline-block;text-align: left;width: auto;flex-grow: 1;padding: 0 5px;white-space: nowrap;font-size:10px;")
                                a(href='' rel='noopener' target='_blank', style="color: #333;text-decoration: none;cursor: pointer;-ms-touch-action: manipulation;touch-action: manipulation;letter-spacing: 0.7px;") instagram
                            li(style="display: inline-block;text-align: left;width: auto;flex-grow: 1;padding: 0 5px;white-space: nowrap;font-size:10px;")
                                a(href='' rel='noopener' target='_blank', style="color: #333;text-decoration: none;cursor: pointer;-ms-touch-action: manipulation;touch-action: manipulation;letter-spacing: 0.7px;") twitter
                            li(style="display: inline-block;text-align: left;width: auto;flex-grow: 1;padding: 0 5px;white-space: nowrap;font-size:10px;")
                                a(href='' rel='noopener' target='_blank', style="color: #333;text-decoration: none;cursor: pointer;-ms-touch-action: manipulation;touch-action: manipulation;letter-spacing: 0.7px;") facebook


                .column.is-3
                    #sag-icerik-alani


    .modal#giris
        .modal-background
        .modal-content
            .modal-form
                form(action='/login', method='post')
                    .field
                        label.label Username
                        .control
                            input.input(type='text', name='username')
                    .field
                        label.label Password
                        .control
                            input.input(type='password', name='password')
                    .field
                        .control
                            input.input(type='submit', name='Log In')
        button.modal-close.is-large.giris-close(aria-label='close')

    #fb-root
    // FacebookScriptAlani
    // connect.facebook
    // TwitterAlani
    script.
        var google_conversion_id = 878852058;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
    script(src='//www.googleadservices.com/pagead/conversion.js')
